extends layout

block content
  div.container.mx-auto.py-8.px-16.text-center
    h2.text-4xl.font-semibold.py-2 Register
  div.w-5_12.mt-10.mx-auto.px-24(class='sm:mt-0')
    div(class='md:grid md:grid-cols-2 md:gap-6')
      div.mt-5.border.border-solid.rounded-sm.border-zinc-100(class='md:col-span-2 md:mt-0')
        form(action='/register' method='POST')
          div.overflow-hidden.shadow-md(class='sm:rounded-md')
            div.bg-white.px-4.py-5.mb-8(class='sm:p-6')
              div.grid.grid-cols-6.gap-6
                div.col-span-6(class='sm:col-span-3')
                  label.block.text-sm.font-medium.text-gray-700(for='first-name') First name
                  input#first-name.mt-1.block.w-full.rounded-md.border-gray-300.shadow-sm.h-8.border.border-solid.border-zinc-300(type='text'
                  name='first-name'
                  autocomplete='given-name'
                  class='focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm')
                div.col-span-6(class='sm:col-span-3')
                  label.block.text-sm.font-medium.text-gray-700(for='last-name') Last name
                  input#last-name.mt-1.block.w-full.rounded-md.border-gray-300.shadow-sm.h-8.border.border-solid.border-zinc-300(type='text'
                  name='last-name'
                  autocomplete='family-name'
                  class='focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm')
                div.col-span-4.col-start-2
                  label.block.text-sm.font-medium.text-gray-700(for='email-address') * Email address
                  input#email-address.mt-1.block.w-full.rounded-md.border-gray-300.shadow-sm.h-8.border.border-solid.border-zinc-300(type='email'
                  name='email-address'
                  autocomplete='email'
                  class='focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm'
                  pattern='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$'
                  title='Must be a valid email address.'
                  required)
                div.col-span-4.col-start-2
                  label.block.text-sm.font-medium.text-gray-700(for='user-secret') * Password
                  input#user-secret.mt-1.block.w-full.rounded-md.border-gray-300.shadow-sm.h-8.border.border-solid.border-zinc-300(type='password'
                  name='user-secret'
                  autocomplete='email'
                  class='focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm'
                  pattern='^(?=.*[A-Za-z])(?=.*\\d)(?=.*[@$!%*#?&])[A-Za-z\\d@$!%*#?&]{8,}$'
                  title='Min. 8 characters, 1 number, 1 special character.'
                  required)
            div.bg-gray-50.px-4.pt-6.pb-3.text-right(class='sm:px-6')
              button.inline-flex.justify-center.rounded-md.border.border-transparent.bg-teal-600.py-2.px-4.text-sm.font-medium.text-white.shadow-sm(type='submit'
              class='hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2') Register