extends assets/layout

block content
  div.flex.flex-col.w-full.m-6
    h1.text-3xl.font-bold.mb-6 Campaigns
    div.flex.ml-auto.content-end.w-fit
      a.formSubmitBtn(href="/overview/campaigns/create") New Campaign
    h3.text-xl.font-semibold.mb-4 Campaign List
    div.dbTableContainer
      table.dbTable
        thead.dbTableHeader
          tr
            th.dbTableHeaderItem.w-1_2 Campaign
            th.dbTableHeaderItem Author
            th.dbTableHeaderItem Date
            th.dbTableHeaderItem Actions
        tbody.dbTableBody
          if data.length
            each item in data
              tr
                th.dbTableItem.flex.gap-3.font-normal
                  div.text-sm
                    div.font-medium= item.campaignName
                    div.italic.whitespace-pre-wrap.line-clamp-2.text-ellipsis.overflow-hidden= item.campaignDescription
                td.dbTableItem= item.campaignAuthor.username
                td.dbTableItem
                  span= item.createdAt.toLocaleDateString()
                  br
                  span= item.createdAt.toLocaleTimeString()
                td.dbTableItem Actions
          else
            tr
              td.dbTableItem.text-center.font-bold.text-2xl(colspan='4') No Campaigns Found