extends assets/layout

block content
  div.pageContainer
    h1.pageHeader Campaign |
      =" "
      span.underline= campaign.caName
    div.bg-gray-200(class='dark:bg-slate-600')
      p Description: #{campaign.caDescription}
      p Author: #{campaign.caAuthor.username}
      p Created At: #{campaign.createdAt.toLocaleDateString()} @ #{campaign.createdAt.toLocaleTimeString()}
